@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /* Principal */
    --cor-primaria: #0052cc;
    --cor-secundaria: #F3F7EC;
    --cor-tercearia: #FAEF5D;
    --cor-quartenaria: #FEF9D9;

    /* Formações */
    --cor-primaria-formacao: #008CBA;
    --cor-secundaria-formacao: #016A70;

    /* Projetos */
    --cor-primaria-projetos: #272829;
    --cor-secundaria-projetos: #D2FF72;
    --cor-tercearia-projetos: #BFEA5F;

    /* Contato */
    --cor-primaria-contato: #000000;
    --cor-secundaria-contato: #4A4947;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.apresentacao {
    display: grid;
    grid-template-columns: 68% 32%;
    height: 100%;
}

.apresentacao__lado-esquerdo {
    background-color: var(--cor-primaria);
    padding: 0 20% 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    color: var(--cor-tercearia);
    font-weight: 900;
    font-size: 2rem;
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 5%;
}

.apresentacao__lado-direito {
    background-color: var(--cor-quartenaria);
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha a imagem à esquerda da seção direita */
    position: relative;
}

.apresentacao__imagem {
    position: relative;
    left: -40%; /* Move a imagem para o centro das duas seções */
}

.apresentacao__imagem__central {
    max-width: auto;
    height: auto;
    border-radius: 16px;
}

.formacao {
    padding: 4% 5%;
}

.formacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formacao__conteudo__titulo {
    color: var(--cor-secundaria-formacao);
    font-family: var(--font-primaria);
    font-weight: 900;
    font-size: 2rem;
}

.formacao__conteudo__titulo__categorias {
    color: var(--cor-secundaria-formacao);
    font-family: var(--font-primaria);
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 2.3rem;
}

.formacao__conteudo__titulo__categorias__paragrafo {
    color: var(--cor-primaria-contato);
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.formacao__conteudo__cursos {
    padding-left: 0;
}

.formacao__conteudo__cursos li {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    list-style: none;
}

.formacao__conteudo__cursos li a {
    text-decoration: none;
    color: var(--cor-primaria-formacao);
}

.projetos {
    padding: 4% 5%;
    background-color: var(--cor-primaria-projetos);
}

.projetos__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projetos__conteudo__titulo {
    color: var(--cor-secundaria-projetos);
    font-family: var(--font-primaria);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.projetos__conteudo__projetos {
    color: var(--cor-secundaria-projetos);
    font-family: var(--font-primaria);
    font-weight: 900;
    font-size: 1.6rem;
    margin-top: 2.3rem;
}

.projetos__conteudo__projetos__paragrafo {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.projetos__conteudo__projetos__paragrafo a {
    color: var(--cor-secundaria-projetos);
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
}

.projetos__conteudo__projetos__paragrafo a:hover {
    color: var(--cor-tercearia-projetos);
    text-decoration: underline;
}

.contato {
    padding: 4% 5%;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 8px;
}

.contato__conteudo__titulo {
    font-family: var(--font-primaria);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.contato__conteudo__paragrafo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.3rem;
}

.contato__formulario {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0% 10%;
}

.contato__formulario__linha {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.contato__formulario__grupo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato__formulario__nomes {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.1rem;
    color: #1A4870;
    margin-bottom: 0.8rem;
}

.contato__formulario__campos {
    width: 100%;
    padding: 0.8rem 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--cor-primaria);
    font-size: 1rem;
    font-family: var(--font-secundaria);
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.contato__formulario__campos::placeholder {
    font-size: 0.9rem;
}

.contato__formulario__campos:focus {
    border-color: #6e56af;
}

.contato__formulario__campos {
    resize: none;
}

.contato__formulario__botao {
    background-color: #6e56af;
    color: var(--cor-secundaria);
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-primaria);
}

.contato__formulario__botao:hover {
    background-color: #5a3f99;
}

.rodape {
    padding: 4% 5%;
    background-color: #0B192C;
    border-top: 0.0625rem solid #f6f6f6;
}

.rodape__conteudo {
    text-align: center;
    padding: 1.25rem;
}

.rodape__conteudo__redes {
    margin-bottom: 0.625rem;
}

.rodape__conteudo__redes a {
    margin: 0 0.5rem;
    display: inline-block;
}

.rodape__conteudo__redes img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

.rodape__conteudo__redes a:hover img {
    transform: scale(1.1);
}

.rodape__conteudo__paragrafo {
    font-family: var(--font-secundaria);
    color: #FFF4EA;
    font-weight: 400;
    font-size: 1.3rem;
}

/* Responsividade */
@media (max-width: 1450px) {
    .apresentacao__lado-esquerdo {
        background-color: var(--cor-primaria);
        padding: 0 20% 0 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    
    .apresentacao__lado-direito {
        background-color: var(--cor-quartenaria);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .apresentacao__conteudo__titulo {
        font-family: var(--font-primaria);
        color: var(--cor-tercearia);
        font-weight: 900;
        font-size: 2rem;
    }
    
    .apresentacao__conteudo__paragrafo {
        font-family: var(--font-secundaria);
        color: var(--cor-secundaria);
        font-weight: 400;
        font-size: 1.5rem;
        margin-right: 8%;
    }
    
    .apresentacao__imagem {
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translate(-50%, -50%);
    }
    
    .apresentacao__imagem__central {
        max-width: auto;
        height: auto;
        border-radius: 16px;
    }
}

@media (max-width: 1400px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .apresentacao__lado-esquerdo {
        width: 100%;
        padding: 5%;
    }

    .apresentacao__lado-direito {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .apresentacao__imagem {
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .apresentacao__imagem__central {
        max-width: 80%;
        height: auto;
        border-radius: 16px;
    }

    .formacao__conteudo__cursos li {
        font-family: var(--font-secundaria);
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 0.8rem;
        list-style: none;
    }
}
